openapi: 3.1.0
info:
  title: Trelica REST Application Users Applications API
  description: The Trelica REST API provides programmatic access to the core areas of the Trelica SaaS management platform, including applications, people, contracts, workflows, assets, audit logs, and user management via SCIM. The API uses OAuth 2.0 with either Client Credentials (for integrations) or Authorization Code flow (for third-party developer apps). Trelica is now part of 1Password SaaS Manager.
  version: 1.0.0
  contact:
    name: Trelica Support
    url: https://help.trelica.com/hc/en-us
  license:
    name: Proprietary
  termsOfService: https://www.trelica.com/terms
servers:
- url: https://app.trelica.com/api
  description: Production (US)
- url: https://eu.trelica.com/api
  description: Production (EU)
security:
- OAuth2ClientCredentials: []
- OAuth2AuthorizationCode: []
tags:
- name: Applications
  description: Manage and query SaaS applications in the Trelica catalog
paths:
  /apps/v1:
    get:
      operationId: listApplications
      summary: List Applications
      description: Returns a paginated list of SaaS applications tracked in Trelica.
      tags:
      - Applications
      parameters:
      - name: q
        in: query
        description: Free-text search across application name and description
        schema:
          type: string
      - name: since
        in: query
        description: Filter applications modified after this date/time (ISO 8601)
        schema:
          type: string
          format: date-time
      - name: after
        in: query
        description: Pagination cursor for next page of results
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return (default 100)
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful response with list of applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    description: Pagination URL for next page
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
        '401':
          description: Unauthorized - missing or invalid OAuth token
        '403':
          description: Forbidden - insufficient scope
      security:
      - OAuth2ClientCredentials:
        - Apps.Read
  /apps/v1/{appId}:
    get:
      operationId: getApplication
      summary: Get Application
      description: Returns details for a specific application by its ID.
      tags:
      - Applications
      parameters:
      - name: appId
        in: path
        required: true
        description: Unique identifier for the application
        schema:
          type: string
      responses:
        '200':
          description: Application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '404':
          description: Application not found
      security:
      - OAuth2ClientCredentials:
        - Apps.Read
components:
  schemas:
    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the application
        name:
          type: string
          description: Name of the SaaS application
        description:
          type: string
          description: Application description
        category:
          type: string
          description: Application category (e.g., Productivity, Security, HR)
        status:
          type: string
          enum:
          - Active
          - Inactive
          - Discovered
          - Managed
          description: Current status of the application
        vendorUrl:
          type: string
          format: uri
          description: Vendor website URL
        userCount:
          type: integer
          description: Number of active users
        annualCost:
          type: number
          description: Annual cost in base currency
        lastModifiedDtm:
          type: string
          format: date-time
          description: Last modification timestamp
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow for server-to-server integrations
      flows:
        clientCredentials:
          tokenUrl: https://app.trelica.com/connect/token
          scopes:
            Apps.Read: Read application data
            Apps.Users.Read: Read application user data
            People.Read: Read people data
            People.Write: Create and update people records
            Contracts.Read: Read contract data
            Workflows.Read: Read workflow data
            Assets.Read: Read asset data
            AuditLog.Read: Read audit log entries
            Users.Read: Read users via SCIM
    OAuth2AuthorizationCode:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow for third-party developer apps
      flows:
        authorizationCode:
          authorizationUrl: https://app.trelica.com/connect/authorize
          tokenUrl: https://app.trelica.com/connect/token
          scopes:
            Apps.Read: Read application data
            Apps.Users.Read: Read application user data
            People.Read: Read people data
            People.Write: Create and update people records
            Contracts.Read: Read contract data
            Workflows.Read: Read workflow data
            Assets.Read: Read asset data
            AuditLog.Read: Read audit log entries
            Users.Read: Read users via SCIM
