openapi: 3.1.0
info:
  title: Trelica REST Application Users API
  description: The Trelica REST API provides programmatic access to the core areas of the Trelica SaaS management platform, including applications, people, contracts, workflows, assets, audit logs, and user management via SCIM. The API uses OAuth 2.0 with either Client Credentials (for integrations) or Authorization Code flow (for third-party developer apps). Trelica is now part of 1Password SaaS Manager.
  version: 1.0.0
  contact:
    name: Trelica Support
    url: https://help.trelica.com/hc/en-us
  license:
    name: Proprietary
  termsOfService: https://www.trelica.com/terms
servers:
- url: https://app.trelica.com/api
  description: Production (US)
- url: https://eu.trelica.com/api
  description: Production (EU)
security:
- OAuth2ClientCredentials: []
- OAuth2AuthorizationCode: []
tags:
- name: Application Users
  description: Manage users associated with specific applications
paths:
  /apps/v1/{appId}/users:
    get:
      operationId: listApplicationUsers
      summary: List Application Users
      description: Returns a paginated list of users associated with a specific application.
      tags:
      - Application Users
      parameters:
      - name: appId
        in: path
        required: true
        description: Unique identifier for the application
        schema:
          type: string
      - name: q
        in: query
        description: Free-text search across user ID, email, and name
        schema:
          type: string
      - name: since
        in: query
        description: Filter users modified after this date/time
        schema:
          type: string
          format: date-time
      - name: after
        in: query
        description: Pagination cursor for next page of results
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of results to return (default 100)
        schema:
          type: integer
          default: 100
      - name: filter
        in: query
        description: SCIM-style filter expression
        schema:
          type: string
      responses:
        '200':
          description: List of application users
          content:
            application/json:
              schema:
                type: object
                properties:
                  next:
                    type: string
                    description: Pagination URL for next page
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppUser'
        '401':
          description: Unauthorized
        '404':
          description: Application not found
      security:
      - OAuth2ClientCredentials:
        - Apps.Users.Read
components:
  schemas:
    AppUser:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user in this application
        name:
          type: string
          description: Display name of the user
        email:
          type: string
          format: email
          description: Email address
        status:
          type: string
          enum:
          - Active
          - Inactive
          - Invited
          - Suspended
          - Unknown
          description: User status in this application
        lastLoginDtm:
          type: string
          format: date-time
          description: Last login timestamp
        deleted:
          type: boolean
          description: Whether the user has been deleted
        lastModifiedDtm:
          type: string
          format: date-time
          description: Last modification timestamp
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow for server-to-server integrations
      flows:
        clientCredentials:
          tokenUrl: https://app.trelica.com/connect/token
          scopes:
            Apps.Read: Read application data
            Apps.Users.Read: Read application user data
            People.Read: Read people data
            People.Write: Create and update people records
            Contracts.Read: Read contract data
            Workflows.Read: Read workflow data
            Assets.Read: Read asset data
            AuditLog.Read: Read audit log entries
            Users.Read: Read users via SCIM
    OAuth2AuthorizationCode:
      type: oauth2
      description: OAuth 2.0 Authorization Code flow for third-party developer apps
      flows:
        authorizationCode:
          authorizationUrl: https://app.trelica.com/connect/authorize
          tokenUrl: https://app.trelica.com/connect/token
          scopes:
            Apps.Read: Read application data
            Apps.Users.Read: Read application user data
            People.Read: Read people data
            People.Write: Create and update people records
            Contracts.Read: Read contract data
            Workflows.Read: Read workflow data
            Assets.Read: Read asset data
            AuditLog.Read: Read audit log entries
            Users.Read: Read users via SCIM
